services:
    php:
        container_name: testforge
        command:
            - tail
            - -f
            - /dev/null
        build:
            context: .docker
        extra_hosts:
            - "host.docker.internal:host-gateway"
        environment:
            PHP_IDE_CONFIG: "serverName=Testforge"
            SYMFONY_DEPRECATIONS_HELPER: disabled
        volumes:
            - .:/home/testforge/projects
            - ~/.composer:/home/testforge/.composer