parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$declares of class PhpParser\\\\Node\\\\Stmt\\\\Declare_ constructor expects array\\<PhpParser\\\\Node\\\\DeclareItem\\>, array\\<int, PhpParser\\\\Node\\\\Stmt\\\\DeclareDeclare\\> given\\.$#"
			count: 1
			path: lib/TestClassGenerator.php

		-
			message: "#^Parameter \\#1 \\$name of method PhpParser\\\\BuilderFactory\\:\\:namespace\\(\\) expects PhpParser\\\\Node\\\\Name\\|string\\|null, array\\|string\\|null given\\.$#"
			count: 1
			path: lib/TestClassGenerator.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: lib/TestClassGenerator.php

		-
			message: "#^Property JWage\\\\PHPUnitTestGenerator\\\\TestClassGenerator\\:\\:\\$reflectionClass with generic class ReflectionClass does not specify its types\\: T$#"
			count: 1
			path: lib/TestClassGenerator.php

		-
			message: "#^Property JWage\\\\PHPUnitTestGenerator\\\\TestClassGenerator\\:\\:\\$testNamespace type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/TestClassGenerator.php

		-
			message: "#^Call to an undefined method ReflectionType\\:\\:getName\\(\\)\\.$#"
			count: 2
			path: lib/TestClassMetadataParser.php

		-
			message: "#^Call to deprecated method getClass\\(\\) of class ReflectionParameter\\.$#"
			count: 5
			path: lib/TestClassMetadataParser.php

		-
			message: "#^Method JWage\\\\PHPUnitTestGenerator\\\\TestClassMetadataParser\\:\\:generateTypeRandomValue\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/TestClassMetadataParser.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: lib/TestClassMetadataParser.php

		-
			message: "#^Property JWage\\\\PHPUnitTestGenerator\\\\TestClassMetadataParser\\:\\:\\$reflectionClass with generic class ReflectionClass does not specify its types\\: T$#"
			count: 1
			path: lib/TestClassMetadataParser.php
